node_modules
dist
.git
.gitignore
.env
.env.*
*.md
.husky
coverage
.vscode
.idea
.claude
.cursor
.pnpm-store
.prettierrc
.cz-config.js
*.log
npm-debug.log*
.DS_Store
test
*.spec.ts
jest.config.*
eslint.config.mjs
docker-compose*.yml
docs
Dockerfile
.dockerignore
nginx
scripts
.env.example

